body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

img {
    max-width: 150px; /* 로고 크기 조정 */
    display: block;
    margin: 0 auto 20px; /* 로고 아래 여백 추가 */
}

.login-section {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-section h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px); /* 20px는 padding 값의 두 배 */
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* 입력창의 크기를 padding과 border를 포함하여 계산하도록 설정 */
    margin: 0 auto; /* 수평 가운데 정렬 */
}